@import "tailwindcss";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-marquee: marquee 25s linear infinite;
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

@layer utilities {
  .font-sans {
    font-family: var(--font-inter), sans-serif;
  }
}
